    @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
    .dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    }

    .dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
    }
    @font-face {
    font-family: 'IntroRust';
    src: url(intro-rust/IntroRust-Base.otf);
    }

    @font-face {
    font-family: 'Garet';
    src: url(garet/Garet-Book.otf);
    }

    body{
        width: 100vw;

        overflow-x: hidden;
    }
    h1{
        font-family:'IntroRust';
        text-align: center;
        font-size: 100px;
        margin-top: 30px;
        margin-bottom: 0;

    }
    a{
        font-family:'Garet';
        text-align: center;
        color: black;
        padding: 20px;
    }
    nav{
        display: flex;
        /* justify-content: space-around; */
        margin: auto;
        /* justify-items: center; */
        justify-content: center;
        /* background-color: yellowgreen; */
    }
    .container{
        /* background-color: yellow; */
        /* padding-top: 2vh; */
        width: 100vw;
        height: 100vh;
        justify-content: center;
        margin: auto;
        
    }
    h2{
        font-family: 'Garet';
        text-align: center;

    }
    h3{
        text-align: center;
        font-family: "IntroRust";
    }
    p{
        font-family: 'Garet';
        text-align: center;
    }
    .info-div{
    font-family: 'Garet';
    display: flex;
    flex-direction: column;
    justify-content: center;

    }
    .logo{
        width: 20vw;
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin: auto;
    }
    iframe{
        margin: auto;
    }